.date-picker-container {
  color: lightblue;

}

.select-field {
  background-color: #17222e;
  cursor: pointer;
  color: white;
  margin: 5px;
  padding: 10px;
  border: solid 2px lightslategrey;
  border-radius: 5px;
}

