body{
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  background-color: black;
}

/* The main background of the SPA */
.spa-layout-container {
  position: relative;
  margin: 10px;
  width: calc(100% - 20px);  /* Subtract margins */
  height: calc(100vh - 20px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #17222e;
  /* background-color: #202422; */
  overflow: hidden;
}
